<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <ul> <a href="{% url 'index' %}" class="navbar-brand">CTG</a></ul>
    {% if user.is_authenticated %}
        <!--<ul><a href="{%url 'playgame' %}" class="navbar-item" >Play Game</a></ul>-->

        <ul><a href="{% url 'post' user.username %}" class="navbar-item">Post</a></ul>
        <ul><a href="{% url 'insidepage' %}" class="navbar-item">Feed</a></ul>
        <ul><a href="{% url 'music'  %}" class="navbar-item">CTGMusic</a></ul>
        <ul><a href="{% url 'logout' %}" class="navbar-item">Logout</a></ul>
        {% block mu %}  {% endblock %}
     {% else %}
      <ul><a href="{% url 'register' %}" class="navbar-item">Register</a></ul>
        <ul><a href="{% url 'login' %}" class="navbar-item">Login!</a></ul>


    {% endif %}

</nav>

</body>
<div  class="container">
{% block content %}
{% endblock %}
</div>
</html>

